@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../snake.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: right;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 30px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Honk", system-ui;
}



#board{
    background: linear-gradient(rgb(45, 149, 191),rgb(184, 184, 25));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}


.head{
    background: linear-gradient(rgb(21, 123, 60), rgb(165, 165, 33));
    border: 1px solid rgb(34, 4, 34); 
    transform: scale(1.05);
    border-radius: 9px;
}

.snake{
    background: linear-gradient(rgb(103, 15, 136), rgba(172, 174, 37, 0.865));
    border: .25vmin solid rgb(17, 33, 170);
    border-radius: 9px;
}

.food{
    background: linear-gradient(rgb(125, 62, 185), purple);
    border: .25vmin solid black;
    border-radius: 5px;
}

#hiscoreBox{
    position: absolute;
    bottom: 200px;
    left: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Honk", system-ui;
}

#name{
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-size: 80px;
    font-weight: bold;
    font-family: "Honk", system-ui;   
}
